@using global::ViewModels.Patient
@using global::ViewModels.Shared
@model CreateUserViewModel<PatientDataViewModel>

@{
    ViewData["Title"] = "Create Patient";
}

<h1>Create Patient</h1>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <partial name="_PatientEditPartial" for="Data"/>
            <partial name="_CreatePasswordPartial" for="PasswordModel" />
            <br />
            <div class="form-group">
                <a asp-action="@nameof(PatientsController.Index)" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>