@using global::ViewModels.Patient;
@using global::ViewModels.User
@* @using Helpers; *@
@model EditViewModel<PatientDataViewModel>

@{
    ViewData["Title"] = "Edit " + Model.UserName;
}

<h1>Edit @Model.UserName</h1>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
            <partial name="_PatientEditPartial" for="Data"/>
            <br />
            <div class="form-group">
                <a href="@ViewData["ReturnUrl"]?.ToString()" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>