@model Patient.PatientProfileViewModel
@{
    ViewData["Title"] = "Profile " + Model.UserName;
}

<h1>Profile @Model.UserName</h1>
<br />
<partial name="_PatientPartial" for="Patient" />
<div>
    <a class="btn btn-secondary" asp-action="@nameof(PatientsController.Dashboard)">Back</a>
    <a class="btn btn-primary" asp-action="@nameof(PatientsController.EditProfile)">Edit</a>
</div>


