@model Doctor.DoctorSpecsViewModel

<div>
    <dl class="row">
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.Specializations)
        </dt>
    </dl>
    <dl class="column">
        @foreach (var name in Model.Specializations)
        {
            <dd class="col-8">
                @name
            </dd>
        }
    </dl>
</div>