@using global::ViewModels.Doctor
@using global::ViewModels.Shared
@model CreateUserViewModel<DoctorSpecsEdit>
@{
    ViewData["Title"] = "Create Doctor";
}

<h1>Create Doctor</h1>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <partial name="_DoctorEditPartial" for="Data" />
            <partial name="_CreatePasswordPartial" for="PasswordModel" />
            <partial name="_DoctorSpecsEditorPartial" for="Data.SpecializationsJson" />
            <br /><hr />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="@nameof(AdminsController.Index)" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>