@{
    ViewData["Title"] = "Doctor Dashboard";
}

<h1>Doctor Dashboard</h1>
<br />
<div class="d-flex flex-column align-items-baseline mt-4" style="min-height: 100vh;">
    <a asp-action="@nameof(DoctorsController.Profile)" class="btn btn-primary mb-2">My Profile</a>
    <br />
    <a class="btn btn-primary mb-2">Attendances</a>
</div>