@model Attendance.AttendanceViewModel

<div class="form-group">
    <label asp-for="DateTime" class="control-label"></label>
    <input asp-for="DateTime" class="form-control"></>
    <span asp-validation-for="DateTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Diagnosis" class="control-label"></label>
    <textarea asp-for="Diagnosis" class="form-control"></textarea>
    <span asp-validation-for="Diagnosis" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Remarks" class="control-label"></label>
    <textarea asp-for="Remarks" class="form-control"></textarea>
    <span asp-validation-for="Remarks" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Therapy" class="control-label"></label>
    <textarea asp-for="Therapy" class="form-control"></textarea>
    <span asp-validation-for="Therapy" class="text-danger"></span>
</div>