@using Presentation.ViewModels.Admin
@model CreateAdminViewModel

@{
    ViewData["Title"] = "Create Administrator";
}

<h1>Create Administrator</h1>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <partial name="_AdminEditPartial" for="Admin"/>
            <partial name="_PasswordCreatePartial" for="PasswordCreate" />
            <br />
            <div class="form-group">
                <a asp-action="@nameof(AdminsController.Index)" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>