@model string

@{
    ViewData["Title"] = "Create Specialization";
}

<h1>Create Specialization</h1>
<br />
<form asp-action="@nameof(SpecializationsController.Create)" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="name" class="control-label">Specialization Name</label>
        <input type="text" id="name" name="name" class="form-control" required />
    </div>
    <br />
    <div class="form-group">
        <a asp-action="@nameof(SpecializationsController.Index)" class="btn btn-secondary">Back</a>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>