<li class="nav-item dropdown">
    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">@User?.Identity?.Name</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
            <form method="post" asp-controller="Login" asp-action="Logout">
                <button class="nav-link text-dark dropdown-item" type="submit">Logout</button>
            </form>
        </li>
    </ul>
</li>